#contenedor_menu {
  display: flex;
  background-color: #808;
  text-transform: uppercase;
}

#contenedor_menu div {
  padding: 10px 0;
  border-right: 1px solid #000;
}

#contenedor_menu .ultimo {
  border-right-width: 0;
}

#contenedor_menu a {
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  color: #000;
}

#contenedor_menu a:hover {
  background-color: #606;
  cursor: pointer;
}

#contenedor_texto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contenedor_texto div {
  width: 60%;
  margin: 10px 0;
}

h3 {
  font-weight: bold;
  font-size: 26px;
  text-align: center;
}

#contenedor_texto div .productos {
  border: 2px double #606;
  padding: 10px
}

#contenedor_texto div .proximamente {
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
  border: 2px double #606;
  padding: 10px;
}

#contenedor_texto div p {
  font-size: 16px;
}

#contenedor_texto div p a {
  text-decoration: none;
}

#contenedor_redes {
  text-align: center;
}
