#contenedor_menu {
    display: flex;
    background-color: #808;
    text-transform: uppercase;
  }
  
#contenedor_menu div {
    padding: 10px 0;
    border-right: 1px solid #000;
  }
  
#contenedor_menu .ultimo {
    border-right-width: 0;
  }
  
#contenedor_menu a {
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: #000;
  }
  
#contenedor_menu a:hover {
    background-color: #606;
    cursor: pointer;
  }

#contenedor_productos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#contenedor_productos .descripcion_productos {
    width: 600px;
    padding-top: 40px;
}

#contenedor_productos div p {
    text-align: justify;
}

#contenedor_productos div p a {
    text-decoration: none;
  }